In [ ]:
### Import Dependencies

In [173]:
import pandas as pd
import statsapi
from pprint import pprint
import requests
from bs4 import BeautifulSoup
import ssl

In [179]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
#Define url to pull WAR leaders
espn_url = "http://www.espn.com/mlb/war/leaders/_/type/seasonal/year/20"

In [9]:
#define list of stat years to pull and create empty list of DF's to store results
year_list = ['19', '18', '17', '16', '15']
df_list = []

In [10]:
#scrape stat leaders
for year in year_list:
    query_url = espn_url+year
    qdfl = pd.read_html(query_url)
    qdfl[0]['season'] = year
    df_list.append(qdfl[0])

In [14]:
#concat dfs into one
data = pd.concat(df_list)
data.head()

,0,1,2,3,4,5,6,7,8,9,season
0,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,19
1,RK,PLAYER,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,19
2,1,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19
3,2,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19
4,3,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19

In [15]:
cols = ['rank', 'player', 'WAR', 'OFF', 'DEF', 'WAA', 'TRPG', 'ORPG', 'RAA', 'WAAWP', 'Season']

In [16]:
#rename columns and drop rank column
data.columns = cols
del data['rank']
data.head()

,player,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season
0,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,19
1,PLAYER,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,19
2,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19
3,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19
4,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19

In [17]:
#drop NAs
data = data.dropna(subset=['player'])

In [18]:
#drop no data holding columns
data = data[~data.player.str.contains("WAR")]

In [19]:
data.head()

           player  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP Season
1          PLAYER  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP     19
2  Cody Bellinger    9  6.6  1.9    7     5   4.7  72.9    0.5     19
3    Alex Bregman  8.4  7.7  1.2  6.1   5.3     5    62    0.5     19
4      Mike Trout  8.3  8.3  0.3  6.3   5.5     5  65.7    0.5     19
5   Marcus Semien  8.1  7.5  1.5  5.8   5.3     5  58.5    0.5     19

In [20]:
# new data frame with split value columns 
new = data["player"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
data["First Name"]= new[0] 
data["Last Name"]= new[1] 
  
#reset index
data = data.drop(data.index[0])
data.reset_index()
data.head()

,player,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season,First Name,Last Name
2,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19,Cody,Bellinger
3,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19,Alex,Bregman
4,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19,Mike,Trout
5,Marcus Semien,8.1,7.5,1.5,5.8,5.3,5,58.5,0.5,19,Marcus,Semien
6,Justin Verlander,7.8,0,0,5.8,5,3.4,56.6,0.7,19,Justin,Verlander

In [21]:
#drop duplicate entries
data.drop_duplicates(subset ="player", keep ='first', inplace = True)

In [23]:

#read in master list, change encoding to make it readable
id_list = pd.read_csv('master_id_list.csv', encoding='latin-1')
id_df = pd.DataFrame(id_list)[['mlb_name','espn_id','espn_name', 'espn_pos']].dropna()

In [24]:
#merge ids and player data
new_data = pd.merge(data, id_df,  how='left', left_on=['player'], right_on = ['mlb_name'])

In [25]:
#do not overwrite this csv!!!
#new_data.to_csv('player_list.csv')

In [25]:
clean_data = pd.read_csv('player_list.csv')

In [26]:
#create empyty list for scraping query urls
q_urls=[]

In [27]:
#build query urls
for index, row in clean_data.iterrows():
    espn_tag = row['First Name']+ '-' +row['Last Name']
    espn_tag = espn_tag.lower()
    turl = 'http://www.espn.com/mlb/player/stats/_/id/' + str(row['espn_id']) + '/'+ espn_tag
    q_urls.append(turl)

In [28]:
#add to DF
clean_data['qurl'] = q_urls

In [29]:
#set index to player
clean_data = clean_data.set_index('player')

In [30]:
clean_data.head(3)

,Unnamed: 0,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season,First Name,Last Name,mlb_name,espn_id,espn_name,espn_pos,qurl
player,,,,,,,,,,,,,,,,,
Cody Bellinger,0,9.0,6.6,1.9,7.0,5.0,4.7,72.9,0.5,19,Cody,Bellinger,Cody Bellinger,33912,Cody Bellinger,CF,http://www.espn.com/mlb/player/stats/_/id/3391...
Alex Bregman,1,8.4,7.7,1.2,6.1,5.3,5.0,62.0,0.5,19,Alex,Bregman,Alex Bregman,34886,Alex Bregman,3B,http://www.espn.com/mlb/player/stats/_/id/3488...
Mike Trout,2,8.3,8.3,0.3,6.3,5.5,5.0,65.7,0.5,19,Mike,Trout,Mike Trout,30836,Mike Trout,CF,http://www.espn.com/mlb/player/stats/_/id/3083...

In [31]:
#drop old index column
clean_data = clean_data.drop(columns=['Unnamed: 0'])

In [32]:
clean_data.head(3)

,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season,First Name,Last Name,mlb_name,espn_id,espn_name,espn_pos,qurl
player,,,,,,,,,,,,,,,,
Cody Bellinger,9.0,6.6,1.9,7.0,5.0,4.7,72.9,0.5,19,Cody,Bellinger,Cody Bellinger,33912,Cody Bellinger,CF,http://www.espn.com/mlb/player/stats/_/id/3391...
Alex Bregman,8.4,7.7,1.2,6.1,5.3,5.0,62.0,0.5,19,Alex,Bregman,Alex Bregman,34886,Alex Bregman,3B,http://www.espn.com/mlb/player/stats/_/id/3488...
Mike Trout,8.3,8.3,0.3,6.3,5.5,5.0,65.7,0.5,19,Mike,Trout,Mike Trout,30836,Mike Trout,CF,http://www.espn.com/mlb/player/stats/_/id/3083...

In [95]:
some_df = pd.DataFrame()

In [96]:
#scrape stats from ESPN, clean stats DF, and convert to a Mongo-ready list of dictionaries

for i in clean_data.index:
    temp_df = pd.read_html(clean_data['qurl'][i])
    #above returns a list of dfs, this line pulls the df that contains the stat table
    stat_df = temp_df[1]
    #dropping the blank row at the top and the summary row at the bottom
    stat_df.drop(stat_df.tail(1).index,inplace=True)
    stat_df.drop(stat_df.head(1).index,inplace=True)
    stat_df.columns = stat_df.iloc[0]
    stat_df = stat_df.drop(stat_df.index[0])
    stat_df['playerName'] = clean_data['espn_name'][i]
    stat_df['espnID'] = clean_data['espn_id'][i]
    some_df = pd.concat([some_df, stat_df])
#     , ignore_index=True

/Users/saraflores/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [97]:
some_df.reset_index()

,index,2B,3B,AB,AVG,BB,BLSV,CG,CS,ER,...,SLG,SO,SV,TEAM,W,WAR,WHIP,YEAR,espnID,playerName
0,2,26,4,480,.267,64,NaN,NaN,3,NaN,...,.581,146,NaN,LAD,NaN,4.2,NaN,2017,33912,Cody Bellinger
1,3,28,7,557,.260,69,NaN,NaN,1,NaN,...,.470,151,NaN,LAD,NaN,4.2,NaN,2018,33912,Cody Bellinger
2,4,34,3,558,.305,95,NaN,NaN,5,NaN,...,.629,108,NaN,LAD,NaN,--,NaN,2019,33912,Cody Bellinger
3,5,88,14,1595,.278,228,NaN,NaN,9,NaN,...,.559,405,NaN,Total,NaN,--,NaN,Total,33912,Cody Bellinger
4,2,13,3,201,.264,15,NaN,NaN,0,NaN,...,.478,52,NaN,HOU,NaN,1.8,NaN,2016,34886,Alex Bregman
5,3,39,5,556,.284,55,NaN,NaN,5,NaN,...,.475,97,NaN,HOU,NaN,4.1,NaN,2017,34886,Alex Bregman
6,4,51,1,594,.286,96,NaN,NaN,4,NaN,...,.532,85,NaN,HOU,NaN,6.9,NaN,2018,34886,Alex Bregman
7,5,37,2,554,.296,119,NaN,NaN,1,NaN,...,.592,83,NaN,HOU,NaN,--,NaN,2019,34886,Alex Bregman
8,6,140,11,1905,.286,285,NaN,NaN,10,NaN,...,.527,317,NaN,Total,NaN,--,NaN,Total,34886,Alex Bregman
9,2,6,0,123,.220,9,NaN,NaN,0,NaN,...,.390,30,NaN,LAA,NaN,0.6,NaN,2011,30836,Mike Trout
10,3,27,8,559,.326,67,NaN,NaN,5,NaN,...,.564,139,NaN,LAA,NaN,10.7,NaN,2012,30836,Mike Trout
11,4,39,9,589,.323,110,NaN,NaN,7,NaN,...,.557,136,NaN,LAA,NaN,9.2,NaN,2013,30836,Mike Trout
12,5,39,9,602,.287,83,NaN,NaN,2,NaN,...,.561,184,NaN,LAA,NaN,7.9,NaN,2014,30836,Mike Trout
13,6,32,6,575,.299,92,NaN,NaN,7,NaN,...,.590,158,NaN,LAA,NaN,9.4,NaN,2015,30836,Mike Trout
14,7,32,5,549,.315,116,NaN,NaN,7,NaN,...,.550,137,NaN,LAA,NaN,10.6,NaN,2016,30836,Mike Trout
15,8,25,3,402,.306,94,NaN,NaN,4,NaN,...,.629,90,NaN,LAA,NaN,6.7,NaN,2017,30836,Mike Trout
16,9,24,4,471,.312,122,NaN,NaN,2,NaN,...,.628,124,NaN,LAA,NaN,10.2,NaN,2018,30836,Mike Trout
17,10,27,2,470,.291,110,NaN,NaN,2,NaN,...,.645,120,NaN,LAA,NaN,--,NaN,2019,30836,Mike Trout
18,11,251,46,4340,.305,803,NaN,NaN,36,NaN,...,.581,1118,NaN,Total,NaN,--,NaN,Total,30836,Mike Trout
19,2,4,0,69,.261,1,NaN,NaN,2,NaN,...,.406,22,NaN,CHW,NaN,0.6,NaN,2013,32146,Marcus Semien
20,3,10,2,231,.234,21,NaN,NaN,0,NaN,...,.372,70,NaN,CHW,NaN,0.5,NaN,2014,32146,Marcus Semien
21,4,23,7,556,.257,42,NaN,NaN,5,NaN,...,.405,132,NaN,OAK,NaN,2.7,NaN,2015,32146,Marcus Semien
22,5,27,2,568,.238,51,NaN,NaN,2,NaN,...,.435,139,NaN,OAK,NaN,3.0,NaN,2016,32146,Marcus Semien
23,6,19,1,342,.249,38,NaN,NaN,1,NaN,...,.398,85,NaN,OAK,NaN,1.1,NaN,2017,32146,Marcus Semien
24,7,35,2,632,.255,61,NaN,NaN,6,NaN,...,.388,131,NaN,OAK,NaN,4.3,NaN,2018,32146,Marcus Semien
25,8,43,7,657,.285,87,NaN,NaN,8,NaN,...,.522,102,NaN,OAK,NaN,--,NaN,2019,32146,Marcus Semien
26,9,161,21,3055,.256,301,NaN,NaN,24,NaN,...,.429,681,NaN,Total,NaN,--,NaN,Total,32146,Marcus Semien
27,2,NaN,NaN,NaN,NaN,5,0,0,NaN,9,...,NaN,7,0,DET,0,-0.2,1.76,NaN,6341,Justin Verlander
28,3,NaN,NaN,NaN,NaN,60,0,1,NaN,75,...,NaN,124,0,DET,17,3.8,1.33,NaN,6341,Justin Verlander
29,4,NaN,NaN,NaN,NaN,67,0,1,NaN,82,...,NaN,183,0,DET,18,3.9,1.23,NaN,6341,Justin Verlander
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,14,31,0,528,.277,77,NaN,NaN,2,NaN,...,.557,98,NaN,TOR,NaN,4.7,NaN,2015,5904,Edwin Encarnacion
1454,15,34,0,601,.263,87,NaN,NaN,0,NaN,...,.529,138,NaN,TOR,NaN,3.7,NaN,2016,5904,Edwin Encarnacion
1455,16,20,1,554,.258,104,NaN,NaN,0,NaN,...,.504,133,NaN,CLE,NaN,2.8,NaN,2017,5904,Edwin Encarnacion
1456,17,16,1,500,.246,63,NaN,NaN,0,NaN,...,.474,132,NaN,CLE,NaN,1.9,NaN,2018,5904,Edwin Encarnacion
1457,18,11,0,177,.249,17,NaN,NaN,0,NaN,...,.531,48,NaN,NYY,NaN,--,NaN,2019,5904,Edwin Encarnacion
1458,19,7,0,241,.241,41,NaN,NaN,1,NaN,...,.531,55,NaN,SEA,NaN,--,NaN,2019,5904,Edwin Encarnacion
1459,20,18,0,418,.244,58,NaN,NaN,1,NaN,...,.531,103,NaN,Total,NaN,--,NaN,2019,5904,Edwin Encarnacion
1460,21,365,10,6881,.263,887,NaN,NaN,14,NaN,...,.499,1372,NaN,Total,NaN,--,NaN,Total,5904,Edwin Encarnacion
1461,2,9,1,136,.272,11,NaN,NaN,0,NaN,...,.507,34,NaN,CLE,NaN,1.1,NaN,2011,31007,Jason Kipnis
1462,3,22,4,591,.257,67,NaN,NaN,7,NaN,...,.379,109,NaN,CLE,NaN,3.7,NaN,2012,31007,Jason Kipnis
1463,4,36,4,564,.284,76,NaN,NaN,7,NaN,...,.452,143,NaN,CLE,NaN,5.9,NaN,2013,31007,Jason Kipnis
1464,5,25,1,500,.240,50,NaN,NaN,3,NaN,...,.330,100,NaN,CLE,NaN,0.9,NaN,2014,31007,Jason Kipnis
1465,6,43,7,565,.303,57,NaN,NaN,8,NaN,...,.451,107,NaN,CLE,NaN,4.6,NaN,2015,31007,Jason Kipnis
1466,7,41,4,610,.275,60,NaN,NaN,3,NaN,...,.469,146,NaN,CLE,NaN,4.1,NaN,2016,31007,Jason Kipnis
1467,8,25,0,336,.232,28,NaN,NaN,2,NaN,...,.414,71,NaN,CLE,NaN,0.4,NaN,2017,31007,Jason Kipnis
1468,9,28,1,530,.230,60,NaN,NaN,1,NaN,...,.389,112,NaN,CLE,NaN,1.6,NaN,2018,31007,Jason Kipnis
1469,10,23,1,458,.245,40,NaN,NaN,2,NaN,...,.410,88,NaN,CLE,NaN,--,NaN,2019,31007,Jason Kipnis
1470,11,252,23,4290,.261,449,NaN,NaN,33,NaN,...,.417,910,NaN,Total,NaN,--,NaN,Total,31007,Jason Kipnis
1471,2,18,1,338,.263,22,NaN,NaN,0,NaN,...,.367,51,NaN,KC,NaN,0.8,NaN,2011,29999,Mike Moustakas
1472,3,34,1,563,.242,39,NaN,NaN,2,NaN,...,.412,124,NaN,KC,NaN,2.9,NaN,2012,29999,Mike Moustakas
1473,4,26,0,472,.233,32,NaN,NaN,4,NaN,...,.364,83,NaN,KC,NaN,-0.1,NaN,2013,29999,Mike Moustakas
1474,5,21,1,457,.212,35,NaN,NaN,0,NaN,...,.361,74,NaN,KC,NaN,0.4,NaN,2014,29999,Mike Moustakas
1475,6,34,1,549,.284,43,NaN,NaN,2,NaN,...,.470,76,NaN,KC,NaN,4.4,NaN,2015,29999,Mike Moustakas
1476,7,6,0,104,.240,9,NaN,NaN,1,NaN,...,.500,13,NaN,KC,NaN,0.7,NaN,2016,29999,Mike Moustakas
1477,8,24,0,555,.272,34,NaN,NaN,0,NaN,...,.521,94,NaN,KC,NaN,1.8,NaN,2017,29999,Mike Moustakas
1478,9,21,1,378,.249,30,NaN,NaN,0,NaN,...,.468,63,NaN,KC,NaN,2.1,NaN,2018,29999,Mike Moustakas
1479,10,12,0,195,.256,19,NaN,NaN,1,NaN,...,.441,40,NaN,MIL,NaN,0.4,NaN,2018,29999,Mike Moustakas
1480,11,33,1,573,.251,49,NaN,NaN,1,NaN,...,.459,103,NaN,Total,NaN,2.5,NaN,2018,29999,Mike Moustakas
1481,12,30,1,523,.254,53,NaN,NaN,0,NaN,...,.516,98,NaN,MIL,NaN,--,NaN,2019,29999,Mike Moustakas
1482,13,226,6,4134,.252,316,NaN,NaN,10,NaN,...,.441,716,NaN,Total,NaN,--,NaN,Total,29999,Mike Moustakas

In [100]:
batters_df = some_df.dropna(subset=['YEAR'])
batters_clean = batters_df.dropna(axis='columns')
cleaner_bats = batters_clean[batters_clean.YEAR != 'Total']
cleanest_bats = cleaner_bats[['espnID', 'playerName', 'YEAR', 'TEAM', 'WAR', '2B', '3B', 'AB', 'AVG', 'BB', 'CS', 'GP', 'H', 'HR', 'OBP', 'OPS', 'R',
       'RBI', 'SB', 'SLG', 'SO' ]]
cleanest_bats.head(10)

,espnID,playerName,YEAR,TEAM,WAR,2B,3B,AB,AVG,BB,...,GP,H,HR,OBP,OPS,R,RBI,SB,SLG,SO
2,33912,Cody Bellinger,2017,LAD,4.2,26,4,480,.267,64,...,132,128,39,.352,.933,87,97,10,.581,146
3,33912,Cody Bellinger,2018,LAD,4.2,28,7,557,.260,69,...,162,145,25,.343,.813,84,76,14,.470,151
4,33912,Cody Bellinger,2019,LAD,--,34,3,558,.305,95,...,156,170,47,.406,1.035,121,115,15,.629,108
2,34886,Alex Bregman,2016,HOU,1.8,13,3,201,.264,15,...,49,53,8,.313,.791,31,34,2,.478,52
3,34886,Alex Bregman,2017,HOU,4.1,39,5,556,.284,55,...,155,158,19,.352,.827,88,71,17,.475,97
4,34886,Alex Bregman,2018,HOU,6.9,51,1,594,.286,96,...,157,170,31,.394,.926,105,103,10,.532,85
5,34886,Alex Bregman,2019,HOU,--,37,2,554,.296,119,...,156,164,41,.423,1.015,122,112,5,.592,83
2,30836,Mike Trout,2011,LAA,0.6,6,0,123,.220,9,...,40,27,5,.281,.671,20,16,4,.390,30
3,30836,Mike Trout,2012,LAA,10.7,27,8,559,.326,67,...,139,182,30,.399,.963,129,83,49,.564,139
4,30836,Mike Trout,2013,LAA,9.2,39,9,589,.323,110,...,157,190,27,.432,.989,109,97,33,.557,136

In [112]:
pitchers_df = some_df.dropna(subset=['BLSV','CG'])
pitchers_clean = pitchers_df.dropna(axis='columns')
cleaner_pitch = pitchers_clean[pitchers_clean.SEASON != 'Total']
cleanest_pitch = cleaner_pitch[['espnID', 'playerName','SEASON','WAR', 'BB', 'BLSV', 'CG', 'ER', 'ERA', 'GP', 'GS', 'H', 'HLD', 'HR', 'IP',
       'L', 'R',  'SHO', 'SO', 'SV', 'TEAM', 'W', 'WHIP'
       ]]
cleanest_pitch.head(20)

,espnID,playerName,SEASON,WAR,BB,BLSV,CG,ER,ERA,GP,...,HR,IP,L,R,SHO,SO,SV,TEAM,W,WHIP
2,6341,Justin Verlander,2005,-0.2,5,0,0,9,7.15,2,...,1,11.1,2,9,0,7,0,DET,0,1.76
3,6341,Justin Verlander,2006,3.8,60,0,1,75,3.63,30,...,21,186.0,9,78,1,124,0,DET,17,1.33
4,6341,Justin Verlander,2007,3.9,67,0,1,82,3.66,32,...,20,201.2,6,88,1,183,0,DET,18,1.23
5,6341,Justin Verlander,2008,1.5,87,0,1,108,4.84,33,...,18,201.0,17,119,0,163,0,DET,11,1.40
6,6341,Justin Verlander,2009,5.2,63,0,3,92,3.45,35,...,20,240.0,9,99,1,269,0,DET,19,1.18
7,6341,Justin Verlander,2010,4.1,71,0,4,84,3.37,33,...,14,224.1,9,89,0,219,0,DET,18,1.16
8,6341,Justin Verlander,2011,8.3,57,0,4,67,2.40,34,...,24,251.0,5,73,2,250,0,DET,24,0.92
9,6341,Justin Verlander,2012,7.5,60,0,6,70,2.64,33,...,19,238.1,8,81,1,239,0,DET,17,1.06
10,6341,Justin Verlander,2013,4.6,75,0,0,84,3.46,34,...,19,218.1,12,94,0,217,0,DET,13,1.31
11,6341,Justin Verlander,2014,1.1,65,0,0,104,4.54,32,...,18,206.0,12,114,0,159,0,DET,15,1.40
12,6341,Justin Verlander,2015,2.2,32,0,1,50,3.38,20,...,13,133.1,8,56,1,113,0,DET,5,1.09
13,6341,Justin Verlander,2016,6.6,57,0,2,77,3.04,34,...,30,227.2,9,81,0,254,0,DET,16,1.00
14,6341,Justin Verlander,2017,4.5,67,0,0,73,3.82,28,...,23,172.0,8,76,0,176,0,DET,10,1.28
15,6341,Justin Verlander,2017,1.8,5,0,0,4,1.06,5,...,4,34.0,0,4,0,43,0,HOU,5,0.65
16,6341,Justin Verlander,2017,6.4,72,0,0,77,3.36,33,...,27,206.0,8,80,0,219,0,Total,15,1.17
17,6341,Justin Verlander,2018,6.2,37,0,1,60,2.52,34,...,28,214.0,9,63,1,290,0,HOU,16,0.90
18,6341,Justin Verlander,2019,--,42,0,2,64,2.58,34,...,36,223.0,6,66,1,300,0,HOU,21,0.80
2,30624,Mike Minor,2010,-0.6,11,0,0,27,5.98,9,...,6,40.2,2,28,0,43,0,ATL,3,1.57
3,30624,Mike Minor,2011,0.4,30,0,0,38,4.14,15,...,7,82.2,3,39,0,77,0,ATL,5,1.49
4,30624,Mike Minor,2012,0.4,56,0,0,82,4.12,30,...,26,179.1,10,88,0,145,0,ATL,11,1.15

In [113]:
# cleanest_bats.to_csv('batters_df.csv', index=False)
cleanest_pitch.to_csv('pitchers_df.csv', index=False)

# cleaner_bats.columns
# cleaner_pitch.columns

In [178]:
cleanest_pitch['playerName'].nunique()

54

In [193]:
# grouped = cleanest_pitch.groupby(['espnID','playerName','SEASON'])['WAR'].apply(list)
# jason = grouped.to_dict()
groupby = cleanest_pitch.groupby(['espnID','SEASON'])
x = groupby['playerName'].first()
w = groupby['WAR'].unique()
w.to_frame()

                            WAR
espnID SEASON
5203   2002               [0.9]
       2003               [1.0]
       2004               [1.8]
       2005               [4.0]
       2006               [4.3]
       2007               [6.0]
       2008               [3.3]
       2009               [1.6]
       2010               [1.5]
       2011              [-2.1]
       2013               [2.8]
       2014    [1.4, -0.3, 1.1]
       2015               [5.6]
       2016               [2.5]
       2017               [1.2]
5883   2004               [3.6]
       2005               [0.8]
       2006               [0.0]
       2007               [2.1]
       2008               [5.0]
       2009              [10.1]
       2010               [3.2]
       2011               [1.4]
       2012     [1.2, 2.1, 3.3]
       2013               [3.9]
       2014               [4.3]
       2015               [9.3]
       2016               [2.3]
       2017               [6.0]
       2018               [4.2]
...                         ...
33263  2019                [--]
33709  2015               [1.9]
       2016              [-0.0]
       2017               [4.5]
       2018              [10.5]
       2019                [--]
33748  2016               [0.8]
       2017               [1.0]
       2018               [7.5]
       2019                [--]
33837  2017              [-0.3]
       2018               [2.6]
       2019                [--]
33839  2017               [3.3]
       2018               [8.4]
       2019                [--]
34842  2016               [4.9]
       2017               [3.6]
       2018               [0.9]
34874  2016               [0.2]
       2017               [3.1]
       2018               [4.7]
       2019                [--]
34984  2018              [-0.0]
       2019                [--]
35124  2017               [2.5]
       2018               [1.6]
       2019                [--]
40912  2018               [1.0]
       2019                [--]

[430 rows x 1 columns]

In [132]:
# pprint(jason)

In [140]:
grouped2 = cleanest_pitch.groupby(['espnID','playerName'])['SEASON'].max()
jason2 = grouped2.to_dict()

In [141]:
pprint(jason2)

{(5203, 'John Lackey'): '2017',
 (5883, 'Zack Greinke'): '2019',
 (6216, 'Cole Hamels'): '2019',
 (6280, 'Ervin Santana'): '2019',
 (6341, 'Justin Verlander'): '2019',
 (28487, 'Jon Lester'): '2019',
 (28955, 'Johnny Cueto'): '2019',
 (28958, 'David Price'): '2019',
 (28962, 'Gio Gonzalez'): '2019',
 (28963, 'Clayton Kershaw'): '2019',
 (28968, 'Carlos Carrasco'): '2019',
 (28976, 'Max Scherzer'): '2019',
 (29155, 'Charlie Morton'): '2019',
 (29949, 'Madison Bumgarner'): '2019',
 (29966, 'Rick Porcello'): '2019',
 (30134, 'Andrew Cashner'): '2019',
 (30145, 'Jake Arrieta'): '2019',
 (30373, 'Stephen Strasburg'): '2019',
 (30624, 'Mike Minor'): '2019',
 (30820, 'Lance Lynn'): '2019',
 (30948, 'Chris Sale'): '2019',
 (30981, 'Corey Kluber'): '2019',
 (31091, 'Julio Teheran'): '2019',
 (31254, 'Aaron Sanchez'): '2019',
 (31258, 'Jameson Taillon'): '2019',
 (31313, 'Patrick Corbin'): '2019',
 (31340, 'Carlos Martinez'): '2019',
 (31593, 'Tanner Roark'): '2019',
 (31730, 'Noah Syndergaard'): '2019',
 (31815, 'Dallas Keuchel'): '2019',
 (32014, 'Trevor Bauer'): '2019',
 (32081, 'Gerrit Cole'): '2019',
 (32082, 'Sonny Gray'): '2019',
 (32106, 'Jose Quintana'): '2019',
 (32175, 'Robbie Ray'): '2019',
 (32185, 'Blake Treinen'): '2019',
 (32582, 'Hyun-Jin Ryu'): '2019',
 (32675, 'Eduardo Rodriguez'): '2019',
 (32697, 'Lucas Giolito'): '2019',
 (32769, 'Mike Clevinger'): '2019',
 (32796, 'Jacob deGrom'): '2019',
 (32815, 'Marcus Stroman'): '2019',
 (33150, 'Masahiro Tanaka'): '2019',
 (33173, 'Kyle Hendricks'): '2019',
 (33263, 'Luis Severino'): '2019',
 (33709, 'Aaron Nola'): '2019',
 (33748, 'Blake Snell'): '2019',
 (33837, 'Jack Flaherty'): '2019',
 (33839, 'Kyle Freeland'): '2019',
 (34842, 'Michael Fulmer'): '2018',
 (34874, 'German Marquez'): '2019',
 (34984, 'Mike Soroka'): '2019',
 (35124, 'Luis Castillo'): '2019',
 (40912, 'Shane Bieber'): '2019'}

In [60]:
#add name to dictionaries
for i in range(len(clean_data)):
    mongo_list[i]['name'] = clean_data['espn_name'][i]

In [61]:
#read in player photos list
%store -r player_photos

In [62]:
#add photo urls to dictionaries
for i in range(len(clean_data)):
    mongo_list[i]['photo_url'] = player_photos[i]

In [63]:
#store mongo list of entires
%store mongo_list

Stored 'mongo_list' (list)

In [59]:
mongo_list[0]

{'YEAR': 2     2017
 3     2018
 4     2019
 5    Total
 Name: YEAR, dtype: object, 'TEAM': 2      LAD
 3      LAD
 4      LAD
 5    Total
 Name: TEAM, dtype: object, 'GP': 2    132
 3    162
 4    156
 5    450
 Name: GP, dtype: object, 'AB': 2     480
 3     557
 4     558
 5    1595
 Name: AB, dtype: object, 'R': 2     87
 3     84
 4    121
 5    292
 Name: R, dtype: object, 'H': 2    128
 3    145
 4    170
 5    443
 Name: H, dtype: object, '2B': 2    26
 3    28
 4    34
 5    88
 Name: 2B, dtype: object, '3B': 2     4
 3     7
 4     3
 5    14
 Name: 3B, dtype: object, 'HR': 2     39
 3     25
 4     47
 5    111
 Name: HR, dtype: object, 'RBI': 2     97
 3     76
 4    115
 5    288
 Name: RBI, dtype: object, 'BB': 2     64
 3     69
 4     95
 5    228
 Name: BB, dtype: object, 'SO': 2    146
 3    151
 4    108
 5    405
 Name: SO, dtype: object, 'SB': 2    10
 3    14
 4    15
 5    39
 Name: SB, dtype: object, 'CS': 2    3
 3    1
 4    5
 5    9
 Name: CS, dtype: object, 'AVG': 2    .267
 3    .260
 4    .305
 5    .278
 Name: AVG, dtype: object, 'OBP': 2    .352
 3    .343
 4    .406
 5    .368
 Name: OBP, dtype: object, 'SLG': 2    .581
 3    .470
 4    .629
 5    .559
 Name: SLG, dtype: object, 'OPS': 2     .933
 3     .813
 4    1.035
 5     .927
 Name: OPS, dtype: object, 'WAR': 2    4.2
 3    4.2
 4     --
 5     --
 Name: WAR, dtype: object}